<!-- {{title}}
{{tomb}}
<p>{{tomb[1]}}</p>

<ng-container *ngIf="tomb.length>0; else ures">
  
  <div *ngFor="let elem of tomb; index as i"
  >
  {{elem}};{{i}}
</div>
</ng-container>

<ng-template #ures>
  <div>A tömb üres!</div>
</ng-template>

<hr>
{{obj|json}} -->
<div class="container">

  <div class="row">
    <div *ngFor="let oszlop of oszlopok" class="col">
      {{oszlop}}
      <!-- {{oszlop["text"]}} -->
    </div>
    <div class="col">
      Műveletek
    </div>
  </div>
  {{obj|json}}

  <div  class="row">
      <div class="col">
        <div class="mb-3">
          <input [(ngModel)]="ujEmber.name" name="name" type="text" class="form-control">
        </div>     
        
      </div>
      <div class="col">    
        <input [(ngModel)]="ujEmber.age" name="age" type="number" class="form-control"> 
      </div>

      <div class="col">          
        <button (click)="ujEmberFelvetele()" type="button" class="btn btn-danger">Add</button>
      </div>
  </div>


  <div *ngFor="let ember of obj; let i=index" class="row">
      <div class="col">
        <div class="mb-3">

          <input [(ngModel)]="ember.name" name="name" type="text" class="form-control">
       
        </div>     
        
      </div>
      <div class="col">    
        <input [(ngModel)]="ember.age" name="age" type="number" class="form-control"> 
      </div>

      <div class="col"> 
        <button type="button" class="btn btn-warning">Save</button>    
        <button (click)="emberTorlese(i)" type="button" class="btn btn-danger">Delete</button>

      </div>
  </div>

</div>